.myCoolButton {
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 80px;
    }

.myCoolButton:hover {
    background-color: #f00;
    color: #fff;
    width: 265px;
    height: 75px;
    font-size: 25px;
    }